.list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.listItem {
  list-style-type: none;
  font-size: var(--font-size-text-d);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-section);
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 100%;
}

.checkbox {
  position: absolute;
  visibility: hidden;
}

.checkboxLabel {
  content: '';
  border: 1px solid var(--color-counter);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /*No Select*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxLabel:hover {
  border: 2px solid var(--color-hover);
}

.checkbox:checked~.text {
  opacity: 0.5;
}

.checkbox:checked~.checkboxLabel {
  content: url('../../../public/resources/checkbox.svg');
  border-color: rgb(0, 128, 0);
}

.text {
  border: none;
  font-size: var(--font-size-text-d);
  max-width: 400px;
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
  transition: opacity linear 0.15s;
}

.text:focus {
  outline: 2px solid var(--color-heading);
}


.text[readOnly] {
  outline: none;
}

.deleteButton {
  visibility: hidden;
  border: none;
  background: none;
  color: var(--color-counter);
  font-size: var(--font-size-delete);
  padding: 0;
  max-height: 30px;
  max-width: 30px;
  align-content: center;
}

.listItem:hover .deleteButton {
  visibility: visible;
}

.deleteButton:hover {
  color: var(--color-heading);
}