.list {
  padding: 0px 24px;
  margin: 0;
  width: 100%;
}

.listItem {
  list-style-type: none;
  font-size: var(--font-size-text-d);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-section);
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 100%;
}

.text {
  max-width: 400px;
  width: 100%;
  text-align: start;
  overflow-wrap: anywhere;
}

.text:focus {
  outline: 2px solid var(--color-heading);
}

.deleteButton {
  visibility: hidden;
  border: none;
  background: none;
  color: var(--color-counter);
  font-size: var(--font-size-delete);
  padding: 0;
  max-height: 30px;
  max-width: 30px;
  align-content: center;
}

.listItem:hover .deleteButton {
  visibility: visible;
}

.deleteButton:hover {
  color: var(--color-heading);
}
